<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Amazing Webshop</title>
</head>

<body>
  <div class="grid-container">
    <header class="header">
      <div class="brand">
        <button class="brand-button" onclick="openMenu()">
          &#9776;
        </button>
        <a href="index.html">Amazing Webshop</a>
      </div>
      <div class="header-links">
        <a href="cart.html">Shopping Cart</a>
        <a href="signin.html">Sign In</a>
      </div>
    </header>
    <aside class="sidebar">
      <h3 class="shopping-categories-title">Shopping Categories</h3>
      <ul class="shopping-categories-list">
        <li><a href="index.html">Chutneys</a></li>
        <li><a href="index.html">Oils</a></li>
        <li><a href="index.html">Oils</a></li>
        <li><a href="index.html">Spices</a></li>
        <li><a href="index.html">Rice</a></li>
        <li><a href="index.html">Flour</a></li>
      </ul>
      <button onclick="closeMenu()" class="button-close-sidebar">Close</button>
    </aside>

    <main class="main">
      <div class="content">
        <ul class="products">

          <li>
            <div class="product">
              <img src="/frontend/public/images/asian-food1.jpeg" class="product-image" alt="product">
              <div class="product-name">
                <a href="product.html">Assortment of spices</a>
              </div>
              <div class="product-brand">India's Finest</div>
              <div class="product-price">$37 <small>(100 gr)</small></div>
              <div class="product-rating">4.5 Stars (10 reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img src="/frontend/public/images/asian-food2.jpeg" class="product-image" alt="product">
              <div class="product-name">
                <a href="product.html">Assortment of spices</a>
              </div>
              <div class="product-brand">India's Finest</div>
              <div class="product-price">$37 <small>(100 gr)</small></div>
              <div class="product-rating">4.5 Stars (10 reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img src="/frontend/public/images/asian-food3.jpeg" class="product-image" alt="product">
              <div class="product-name">
                <a href="product.html">Spices in any quantity</a>
              </div>
              <div class="product-brand">India's Finest</div>
              <div class="product-price">$37 <small>(100 gr)</small></div>
              <div class="product-rating">4.5 Stars (10 reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img src="/frontend/public/images/asian-food4.jpeg" class="product-image" alt="product">
              <div class="product-name">
                <a href="product.html">Spices in any quantity</a>
              </div>
              <div class="product-brand">India's Finest</div>
              <div class="product-price">$37 <small>(100 gr)</small></div>
              <div class="product-rating">4.5 Stars (10 reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img src="/frontend/public/images/asian-food5.jpeg" class="product-image" alt="product">
              <div class="product-name">
                <a href="product.html">Assortment of rices</a>
              </div>
              <div class="product-brand">India's Finest</div>
              <div class="product-price">$5 <small>(1 kg)</small></div>
              <div class="product-rating">4.5 Stars (10 reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img src="/frontend/public/images/asian-food1.jpeg" class="product-image" alt="product">
              <div class="product-name">
                <a href="product.html">Assortment of spices</a>
              </div>
              <div class="product-brand">India's Finest</div>
              <div class="product-price">$37 <small>(100 gr)</small></div>
              <div class="product-rating">4.5 Stars (10 reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img src="/frontend/public/images/asian-food2.jpeg" class="product-image" alt="product">
              <div class="product-name">
                <a href="product.html">Assortment of spices</a>
              </div>
              <div class="product-brand">India's Finest</div>
              <div class="product-price">$37 <small>(100 gr)</small></div>
              <div class="product-rating">4.5 Stars (10 reviews)</div>
            </div>
          </li>

          <li>
            <div class="product">
              <img src="/frontend/public/images/asian-food3.jpeg" class="product-image" alt="product">
              <div class="product-name">
                <a href="product.html">Spices in any quantity</a>
              </div>
              <div class="product-brand">India's Finest</div>
              <div class="product-price">$37 <small>(100 gr)</small></div>
              <div class="product-rating">4.5 Stars (10 reviews)</div>
            </div>

          </li>
          <li>
            <div class="product">
              <img src="/frontend/public/images/asian-food4.jpeg" class="product-image" alt="product">
              <div class="product-name">
                <a href="product.html">Spices in any quantity</a>
              </div>
              <div class="product-brand">India's Finest</div>
              <div class="product-price">$37 <small>(100 gr)</small></div>
              <div class="product-rating">4.5 Stars (10 reviews)</div>
            </div>
          </li>
          <li>
            <div class="product">
              <img src="/frontend/public/images/asian-food5.jpeg" class="product-image" alt="product">
              <div class="product-name">
                <a href="product.html">Assortment of rices</a>
              </div>
              <div class="product-brand">India's Finest</div>
              <div class="product-price">$5 <small>(1 kg)</small></div>
              <div class="product-rating">4.5 Stars (10 reviews)</div>
            </div>
          </li>

        </ul>
      </div>
    </main>

    <footer class="footer">
      All rights reserved
    </footer>
  </div>
  <script>
    function openMenu() {
      document.querySelector(".sidebar").classList.add("open")
    }

    function closeMenu() {
      document.querySelector(".sidebar").classList.remove("open")

    }
  </script>
</body>

</html>