html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.header {
  grid-area: header;
  background-color: darkblue;
  color: cornsilk;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.brand a {
  color: cornsilk;
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: none;
}

.header-links a {
  color: cornsilk;
  text-decoration: none;
}

.header-links a:hover {
  color: rgb(245, 134, 7);
  text-decoration: none;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  background-color: rgb(0, 0, 53);
  color: cornsilk;
  display: flex;
  justify-content: center;
  align-items: center;
}
