.App {
  text-align: center;
}

html {
  font-size: 62.5%; /* 16px * 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}

button {
  font-size: 1.6rem;
}

.full-width {
  width: 100%;
}

#root {
  height: 100%;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 5rem;  /*these 3 sized represent header, main, footer heights*/
  height: 100%;
}

.header {
  grid-area: header;
  background-color: darkblue;
  color: #fffef9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.brand a {
  color: #fffef9;
  font-size: 3.5rem;
  font-weight: bold;
  text-decoration: none;
}

.header-links a {
  color: #fffef9;
  text-decoration: none;
  margin-right: 10px;
}

.header-links a:hover {
  color: rgb(245, 134, 7);
  text-decoration: none;
}

.main {
  grid-area: main;
}

img {
  max-width: 100%;
}

.footer {
  grid-area: footer;
  background-color: rgb(0, 0, 53);
  color: #fffef9;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: darkblue;
}

a:hover {
  color: rgb(245, 134, 7);
}

/* HOMEPAGE */
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.products li {
  list-style-type: none;
  padding: 0;
  flex: 0 1 34rem;
  margin: 1rem;
  height: 35rem;
  border-bottom: .1rem lightblue solid;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-name {
  font-size: 2rem;
  font-weight: bold;
}

.product-brand {
  font-size: 1.2rem;
  color: grey;
}

.product-price {
  font-size: 2.5rem;
  font-weight: bold;
}

.product-image {
  max-width: 34rem;
  max-height: 34rem;
}

.product-rating {
  margin-bottom: 1rem;
}

/* SIDEBAR */
.brand-button {
  font-size: 4rem;
  padding: .5rem;
  background: none;
  border: none;
  color: #fffef9;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  transition: all 0.5s;
  transform: translateX(-30rem);
  width: 20rem;
  background-color: rgb(250, 245, 250);
  height: 100%;
}

.sidebar.open {
  transform: translateX(0);
}

.shopping-categories-title {
  color: darkblue;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 1rem;
  margin-left: 4rem;
}

.shopping-categories-list {
  list-style: none;
  color: darkblue;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
}

.button-close-sidebar {
  background-color: darkblue;
  color: #fffef9;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  padding: 5px 10px;
  margin-left: 6rem;
  cursor: pointer;
}

/* PRODUCT DETAILS */
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

.details-image {
  flex: 2 1 60rem;
}

.details-image img {
  max-width: 60rem;
  width: 100%;
}

.details-info {
  flex: 1 1 30rem;
}

.details-action {
  flex: 1 1 30rem;
}

.details-info ul, .details-action ul {
  list-style-type: none;
  padding: 0;
}

.details-info li, .details-action li {
  margin-bottom: 1rem;
}

.back-to-result {
  padding: 1rem;
}

.details-action {
  border: .1rem #808080 solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}

.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}

.button {
  padding: 1rem;
  border: .1rem #808080 solid;
  cursor: pointer;
  border-radius: .5rem;
  background-color: rgb(1, 1, 145);
  color: whitesmoke;
  font-weight: bold;
}

.button:hover {
  border: .1rem #404040 solid;
}

/* CART */
.cart {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 1rem;
}

.cart-list {
  flex: 3 1 60rem;
}

.cart-action {
  flex: 1 1 20rem;
  background-color: rgb(221, 245, 253);
  border: .1rem #f0f0f0 solid;
  border-radius: 0.5rem;
  padding: 1rem;
}

.cart-list-container {
  padding: 1rem;
  list-style-type: none;
}

.cart-list-container li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  border-bottom: 0.1rem #808080 solid;
}

.cart-list-container li img {
  max-width: 20rem;
  max-height: 20rem;
  
}

.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cart-image {
  flex: 1 1;
  padding-right: 1rem;

}

.cart-name {
  flex: 8 1;
  font-size: 2.5rem;
  font-weight: bold;
}

.cart-price {
  flex: 1 1;
  font-size: 2.5rem;
  text-align: right;
}

.cart-quantity {
  font-size: 2rem;
  font-weight: 500;
}

/* .button.primary {
} */